---

import SimilarPosts from "@/components/SimilarPosts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similerItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi";
import SidebarForm from '@/components/SidebarForm.astro';

const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await render(post);
const { title, description, categories, image, date } =
  post.data;
---

<section class="section">
  <div class="container">
    <article class="row ">
      <div class="md:col-10 text-center">
        <h1 set:html={markdownify(title)} class="h2" />
        <ul class="mt-4 flex flex-wrap text-text">
         
          <li class="mx-3 flex items-center flex-wrap font-medium">
            <BiCalendarEdit className="mr-1 h-5 w-5 text-gray-600" />
            {dateFormat(date)}
          </li>
          <li class="mx-3 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />

            <ul>
              {
                categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 hover:text-primary font-medium"
                    >
                      {humanize(category)}
                      {i !== post.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
        </ul>
      </div>
<div class="col-8 mt-8 mb-2">
      <div class="col-12 mt-8 mb-2">
        {
          image && (
            <Image
              src={image}
              height={500}
              width={1000}
              alt={title}
              class="rounded-lg"
            />
          )
        }
      </div>

      <div class="md:col-12">
        <div class="content mb-16 text-left">
          <Content />
        </div>
       </div>
       <div class="col-4">
           <SidebarForm />
       </div>
      </div>
    </article>
  </div>
</section>


